header {
	border-top: 6px solid $black;
	

	.navbar-toggler:focus{
		outline: none;
		border-width: 2px;
		border-color: $orange;

	}

	.navbar-brand {
		

		@media (max-width: 355px){
				max-width: 70%;
			}

		
		img {
			
			@media (max-width: 355px){
				max-width: 100%;
			}
		}
	}

	.nav-icon {
		flex-direction: row;
		
		a {
			
			&:hover {
				background: darken($gray-900, 3%);
			}
		}

		li:nth-child(1) {
			position: relative;
			
			&:before {
				content:"\e909";
				display: block;
				font-family: 'icomoon';
				color: $white;
				position: absolute;
				left: -22%;
				top: 25%;
				
				@media (min-width: 992px){
					left: -10%;
				}
				
			}

			&:after {
				content:"";
				position: absolute;
				height: 20px;
				right: -7%;
				top: 22%;
				border-right: 2px solid $border-color-navbar;
				
				@media (min-width: 992px){
					left: -4%;
				}
			}
		}

		li:nth-child(2) {
			position: relative;
			
			&:before {
				content:"\e90a";
				font-family: 'icomoon';
				color: $white;
				position: absolute;
				left: -61%;
				top: 25%;
				
				@media (min-width: 992px){
					left: -29%;
				}

			}

			&:after {
				content:"";
				position: absolute;
				height: 20px;
				right: -36%;
    			top: 22%;
				border-right: 2px solid $border-color-navbar;
				
				@media (min-width: 992px){
					right: -30%;
				}
				}
			}
		}

	.telephone-number {
		font-size: 22px;
	}

	.dropdown-menu {
		background-color: $gray-900;
	}

	.nav {

		@media (min-width: 992px){
			padding-top: 30px;
			padding-bottom: 28px;
		}
	}
	
	.item-absolute {
		
		background-color: $gray-900;
		
		@media (min-width: 992px){
			position: absolute;
			top: 0%;
			right: 0;
			min-width: 320px;
		}
	}

	
}

.custom-checkmark {
	position: relative;

	&:before {
		font-family: 'icomoon';
		display: block;
		content: "\e90b";
		position: absolute;
		top: 5%;
    	color: $green;
    	font-size: 25px;
    	left: -14px;	
	}
}

.custom-decor-star {
	position: relative;
	
	&:after {
		font-family: 'icomoon';
		display: block;
		content: "\e906";
		position: absolute;
		top: 21%;
    	right: 5px;
    	color: $orange;
    	font-size: 9px;
	}
}

.navbar-collapse.collapse {

	justify-content: end;
}

