header {
	border-top: 6px solid $black;
	

	.navbar-toggler:focus{
		outline: none;
		border-width: 2px;
		border-color: $orange;

	}

	.navbar {
		padding-top: 20px;
		padding-bottom: 35px;
	}

	.navbar-brand {
		

		@media (max-width: 355px){
				max-width: 70%;
			}

		
		img {
			
			@media (max-width: 355px){
				max-width: 100%;
			}
		}
	}


	.collapse.navbar-collapse {
		justify-content: flex-end;
	}


	.nav-icon {
		flex-direction: row;
		
		a {
			
			&:hover {
				background: darken($gray-900, 3%);
			}
		}

		li:nth-child(1) {
			
			
			.nav-link {
				position: relative;
				border-right: 2px solid $border-color-navbar;
				
				&:before {
					content:"\e909";
					display: inline-block;
					font-family: 'icomoon';
					color: $white;
					margin-right: 5px;
					
				}
			}

		}

		li:nth-child(2) {

			.nav-link{
				position: relative;
				border-right: 2px solid $border-color-navbar;
				
				&:before {
					content:"\e90a";
					display: inline-block;
					font-family: 'icomoon';
					color: $white;
					margin-right: 5px;
					

				}
			}
		}
	}


	.telephone-number {
		font-size: 22px;
	}

	.dropdown-menu {
		background-color: $gray-900;
	}

	.nav {

		@media (min-width: 992px){
			padding-top: 30px;
			padding-bottom: 28px;
		}
	}
	
	.item-absolute {
		
		background-color: $gray-900;
		
		@media (min-width: 992px){
			position: absolute;
			top: 0%;
			right: 0;
			min-width: 320px;
		}
	}

	
}

.custom-checkmark {
	position: relative;

	&:before {
		font-family: 'icomoon';
		display: block;
		content: "\e90b";
		position: absolute;
		top: 5%;
    	color: $green;
    	font-size: 25px;
    	left: -14px;	
	}
}

.custom-decor-star {
	position: relative;
	
	&:after {
		font-family: 'icomoon';
		display: block;
		content: "\e906";
		position: absolute;
		top: 21%;
    	right: 5px;
    	color: $orange;
    	font-size: 9px;
	}
}

.navbar-collapse.collapse {
	justify-content: end;
}

.header-search-form {
	padding-top: 20px;
	
	hr {
		color: lighten(rgba($gray, .4),35%);
		border-top: none;
		border-bottom: 10px solid;
		margin: 20px 0 0;
	}
	
	.kids {
		position: relative;
		
		
	}

	.date {
		
	}
	
	.btn-search {
		position: relative;
		
		&:before {
			position: absolute;
			content: "\e90c";
			font-family: "icomoon";
			top: 16%;
		    left: 8%;
		    font-size: 16px;
					
		}
	}
}


.input-search {
	padding: 14px 28px;
	background-color: $gray;
}
