header {
	border-top: 6px solid $header-top-border;
	
	[class^="icon-"] {
		color: $white;
		margin-right: 5px;
		transition: .3s color;
			
	}

	.navbar-toggler:focus{
		outline: none;
		border-width: 2px;
		border-color: $orange;

	}

	.navbar {
		padding-top: 20px;
		padding-bottom: 25px;
	}

	.navbar-brand {
		

		@media (max-width: 370px){
				max-width: 70%;
			}

		
		img {
			
			@media (max-width: 370px){
				max-width: 100%;
			}
		}
	}


	.collapse.navbar-collapse {
		justify-content: flex-end;
	}


	.nav-icon {
		flex-direction: row;
		
		
		

		li:nth-child(1) {
			
			
			.nav-link {
				border-right: 2px solid $border-color-navbar;
				

			}

		}

		li:nth-child(2) {

			.nav-link{
				border-right: 2px solid $border-color-navbar;
				
			
			}
		}
	}


	.telephone-number {
		font-size: 22px;
	}

	.dropdown-menu {
		background-color: $gray-900;
	}

	.nav {

		@media (min-width: 992px){
			padding-top: 30px;
			padding-bottom: 28px;
		}
	}
	
	.item-absolute {
		border-bottom-right-radius: 6px;
    	border-bottom-left-radius: 6px;
		background-color: $gray-900;
		
		@media (min-width: 992px){
			position: absolute;
			top: 0%;
			right: 0;
			min-width: 375px;
		}
		
		

		
		a.dropdown-item {
			
			&:hover {
				color: $orange;
			}

			&:focus {
				color: $orange;
			}
		}
	}

	
}



.navbar-collapse.collapse {
	justify-content: end;
}

.header-search-form {
	padding-top: 20px;
	background-position: center center, left top;
	background-repeat: no-repeat, repeat;
	
	.nav-link {
		font-weight: bold;
	}
	
	hr {
		color: lighten(rgba($gray, .4),35%);
		border-top: none;
		border-bottom: 10px solid;
		margin: 20px 0 0;
	}
	
	.kids {
		position: relative;
	}

	.date {
		flex-basis: 200px;		
	}
	
	
}

.btn-search-holder{
	flex-basis: 110px;
	
	button {
		position: relative;
		
		&:before {
			position: absolute;
			content: "\e90c";
			font-family: "icomoon";
			top: 16%;
		    left: 8%;
		    font-size: 16px;
					
		}
	}
}


.input-search {
	padding: 14px 28px;
	background-color: $gray;
}
