#wrapper {
	min-width: 320px;
	overflow: hidden;
}

h1,h2, h4 {
		margin-bottom: 0;
	}

.btn {
	color: $white;
	
	&:hover {
		color: darken($white, 20%);
	}
}

.custom-checkmark {
	position: relative;

	&:before {
		font-family: 'icomoon';
		display: block;
		content: "\e90b";
		position: absolute;
		top: -2%;
    	color: $green;
    	font-size: 25px;
    	left: -14px;	
	}
}

.custom-decor-star {
	position: relative;
	
	&:after {
		font-family: 'icomoon';
		display: block;
		content: "\e906";
		position: absolute;
		top: 21%;
    	right: 5px;
    	color: $orange;
    	font-size: 9px;
	}
}

main {
	padding: 70px 0 40px;
	background-position: center center;
	background-repeat: no-repeat;
}

.custom-dropdown-arrow {
		padding-right: 60px;
		
		&:after {
			display: none;
		}
		

		&:before {
			content:"";
			display: block;
			width: 12px;
			height: 11px;
			border-left: 3px solid ;
			border-bottom: 3px solid;
			border-color: $white;
			background-color: transparent;
			position: absolute;
			transform: rotate(-45deg);
			
		}
	}

.settings-dropdown {
	position: absolute;
	top: -33px;
	left: 15px;

	&>.btn-group {
		flex-basis: 350px;
	}

	.btn-border-top-left {
		border-top-left-radius: 10px;
	}

	.btn-border-top-right {
		border-top-right-radius: 10px;
	}



	.settings-btn{
		flex-grow: 1;
	}
	
	.custom-dropdown-arrow {

		&:before {
			right: 20px;
			top: 9px;
		}

	}

	.dropdown-menu{
		
		a:hover{
			background-color: darken($gray, 7%);
		}
	}
}



.selected-hotel-header{
	flex-wrap: wrap;
	border: 1px solid #ccc;
	padding: 15px 20px;
	border-radius: 12px;
	position: relative;
	background: #f6f6f6;
	border-top-left-radius: 0px;
	border-top: 6px solid $gray;
}

.number{
	font-size: 22px;
	font-weight: bold;
}

.hotel-available {
	
	p{
		margin: 0;
		font-weight: bold;
	}
}

.hotels-list {

	.card {
	position: relative;
	box-shadow: 0px 1px 2px .5px rgba($gray, 0.75);
	transition: .4s box-shadow;
	margin-top: 30px;

		&:hover {
			box-shadow: 0px 1px 11px 4px rgba($orange, 0.75);
		}

	.btn {
		min-width: 155px;
		font-size: 17px;
	}
}

.card-header {
	background-color: $card-header-bg-color;
	border-bottom: 3px solid;
	border-color: $gray;
}
}

.price {
	font-size: 15px;
	background-color: #e1e1e1;
	padding: 3px 30px;
	border-radius: 9px;
	font-weight: bold;
}

.img-holder {
	position: relative;
	z-index: 5;
	
	img{
		
		padding: 4px;
		width: 100%;
	}

	.rating {
		background-color: rgba(0,0,0, .4);
		position: absolute;
		bottom: 4px;
		left: 4px;
		right: 4px;
		height: 28px;	
	}

	

	.like {
		position: absolute;
		right: 15px;
		bottom: 40px;
	}

	p{
		margin: 0;
	}

}

.apartment-description {
	width: 90px;
	
	p{
		margin: 0;
		
	}
}

.special-offer {
	
	&:after {
		content: "";
		display: inline-block;
		vertical-align: top;
		background: url("../images/special-offer.png") no-repeat;
		position: absolute;
		top: -18px;
		right: -2px;
		width: 52px;
		height: 94px;
	}
}

.empty {
		color: lighten($orange, 30%);
	}

.recomended {

	&:before {
		content: "";
		display: inline-block;
		vertical-align: top;
		background: url("../images/recomended.png") no-repeat;
		position: absolute;
		left: 1px;
		top: 54px;
		width: 131px;
		height: 78px;
		z-index: 55;
	}
}

////////////////////////////////////////////////////////////////////
.sidebar {
	
	p{
			margin: 0;
		}

	.btn.btn-link {

		&:active {
			box-shadow: none;
		}
	}

	.list-group-item {
		border: none;
	}
}

.custom-input-checkbox {

	.form-check-label {
		position: relative;
	}	

	input {
	display: none;

		
	}

	input:checked + .toggle-checkbox:after {
		opacity: 1;
	}

	.toggle-checkbox{
		position: absolute;
		top: -2px;
		left: -19px;
		transition: .4s;
		cursor: default;

		&:before {
			display: block;
			content: "\e904";
			font-family: "icomoon";
			position: absolute;
			font-size: 17px;
		}

		&:after {
			display: block;
			content: "\e90b";
			font-family: "icomoon";
			position: absolute;
			color: $green;
			font-size: 21px;
    		top: -6px;
			opacity: 0;
			transition: .4s
		}



		
	}


}

.accordion {
	
	a {
		font-weight: bold;
		font-size: 15px;

	}

	.custom-dropdown-arrow {
		
		&:before {
			right: 20px;
			top: 22px;
			border-color: $gray;
		
		}
	}
}
