$black: #2e2f35;    //heder nav color
$green: #79c55f;;   //success color
$orange: #f19e46;   //primary color
$light: #a5a5a5; //placeholder
$dark: #58585a; //text and other$
$white: #fff;
$gray-900: #2a2b31; //navbar bg color


$border-color-navbar: #3f4046;