$white: #fff;
$black: #2e2f35;    //heder nav color
$green: #79c55f;;   //success color
$orange: #f58220;   //primary color
$light: #a5a5a5; //placeholder
$gray: #58585a; //text and other
$gray-900: #2a2b31; //navbar bg color

$header-top-border: #28292f;



$card-header-bg-color: #f9f9f9;

$border-color-navbar: #3f4046;